ugodffactory/PartialArmTemplates/ArmTemplate_10_27_2020_21_34_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ugodffactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set LoadDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflowCSVTOSQL",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "Set LoadDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LoadFileDate",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"LoadFileDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflowCSVTOSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowCSVTOSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "mainAircraft",
								"type": "DatasetReference"
							},
							"name": "sourceOutput"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableMaint",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "SelectRenameColums"
						},
						{
							"name": "DerivedColumns"
						}
					],
					"script": "source(output(\n\t\tColumn_1 as string,\n\t\tColumn_2 as string,\n\t\tColumn_3 as string,\n\t\tColumn_4 as string,\n\t\tColumn_5 as string,\n\t\tColumn_6 as string,\n\t\tColumn_7 as string,\n\t\tColumn_8 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> sourceOutput\nsourceOutput select(mapColumn(\n\t\tAC_REG = Column_1,\n\t\tEVE = Column_2,\n\t\tDESC = Column_3,\n\t\tBEGINDAY = Column_4,\n\t\tBEGINTIME = Column_5,\n\t\tENDDAY = Column_6,\n\t\tENDTIME = Column_7,\n\t\tBAS = Column_8\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectRenameColums\nSelectRenameColums derive(BEGINDAY = toTimestamp(substring(BEGINDAY, 1, 4)+'-'+substring(BEGINDAY, 5, 2)+'-'+substring(BEGINDAY, 7,2), 'yyyy-MM-dd'),\n\t\tBEGINTIME = (substring(BEGINTIME,1, 2) + ':' + substring(BEGINTIME,3, 2)),\n\t\tENDDAY = toTimestamp(substring(ENDDAY, 1, 4)+'-'+substring(ENDDAY, 5, 2)+'-'+substring(ENDDAY, 7,2), 'yyyy-MM-dd'),\n\t\tENDTIME = (substring(ENDTIME,1, 2) + ':' + substring(ENDTIME,3, 2))) ~> DerivedColumns\nDerivedColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tdateFormat:'MM/dd/yyyy',\n\ttimestampFormat:'MM/dd/yyyy HH:mm:ss',\n\tskipDuplicateMapInputs: true) ~> sink1"
				}
			},
			"dependsOn": []
		}
	]
}